<?xml version="1.0" encoding="UTF-8"?>
<config>
  <rpd>C:\Users\barbb\Desktop\Easygec\Courses\2022 06 20 Ethan Party\Animal-O_30s_and_40s.egc</rpd>
  <lang>English</lang>
  <tempo>2</tempo>
  <abc>
    <mappage>
      <nom>Minuscule</nom>
      <map>&lt;</map>
      <map>&lt;</map>
      <map>&lt;</map>
      <map>a</map>
      <map>b</map>
      <map>c</map>
      <map>d</map>
      <map>e</map>
      <map>f</map>
      <map>g</map>
      <map>h</map>
      <map>i</map>
      <map>j</map>
      <map>k</map>
      <map>l</map>
      <map>m</map>
      <map>n</map>
      <map>o</map>
      <map>p</map>
      <map>q</map>
      <map>r</map>
      <map>s</map>
      <map>t</map>
      <map>u</map>
      <map>v</map>
      <map>w</map>
      <map>x</map>
      <map>y</map>
      <map>z</map>
      <map>0</map>
      <map>1</map>
      <map>2</map>
      <map>3</map>
      <map>4</map>
      <map>5</map>
      <map>6</map>
      <map>7</map>
      <map>8</map>
      <map>9</map>
      <map>+</map>
      <map>-</map>
      <map>*</map>
      <map>/</map>
      <map>=</map>
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
    </mappage>
    <mappage>
      <nom>Numérique</nom>
      <map>&lt;</map>
      <map>&lt;</map>
      <map>&lt;</map>
      <map>1</map>
      <map>2</map>
      <map>3</map>
      <map>4</map>
      <map>5</map>
      <map>6</map>
      <map>7</map>
      <map>8</map>
      <map>9</map>
      <map>0</map>
      <map>+</map>
      <map>-</map>
      <map>*</map>
      <map>/</map>
      <map>=</map>
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
      <map />
    </mappage>
  </abc>
</config>

